/* Navbar.css */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
  }
}

.pulse-btn {
  animation: pulse 2s infinite;
  border: none; /* This ensures the border is not visible */
}
